@font-face {
    src: url("../fonts/Gravity-Bold.otf");
    font-family: "Gravity-Bold"; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
li {
    list-style: none;
}
a {
    text-decoration: none;    
}
header {
    width: 100%;
    background-color: #2574a9;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: 
         'lgo ... nav'; 
    grid-template-columns: auto 1fr auto;        
}
.logo {
    grid-area: lgo;    
}
.logo img {
    width: 320px;
}
.nav-bar {
    grid-area: nav;
    font-size: 18px;
}
.nav-bar a {
    font-family: "Gravity-Bold";
    font-size: 1em;
}
main {
    font-size: 10px;   
}
section {
    display: grid; 
    justify-content: center; 
    align-content: center;
    font-family: "Gravity-Bold"; 
    font-size: 2em;
    color: #2574a9; 
}
section:nth-child(add) {
    height: 100vh;
    background-color: #cae1f1;     
}section:nth-child(even) {
    height: 100vh;
    background-color: #b7d5eb;
}